Keep front door locked.
No loud noises after 8 pm.
Do not walk inside with outdoor shoes.
No smoking allowed inside the building.
Do not damage furniture and/or company property.
Take out the trash everyday.



